
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {font-size: 1.3em;}
h2 {font-size: 1em; font-weight: 600; margin:0.3em;}

.header{ 
  display: flex;
  justify-content: space-between;
  padding: 0em 0.5em;
  background-color: #282c34;
  color: whitesmoke;
}

.header button{ 
  border-radius: 2em;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
}

.header-buttons {
  display: flex;
  margin-top: 6px;
  justify-content: center;
}

.header-buttons .arrange {
  
}

.header-buttons .add {
  
}


.modal { 
  position: fixed;
  border: 1px solid grey;
  background-color: white;
  width: 320px;
  height: 200px;
  margin: auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal input{ 
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid grey;  
}

.modal .title{ 
  height: 26px;
  border-radius: 10px 0px 0px 10px;
  flex:1;
}

.modal .options {
  height: 30px;
  border-radius: 0px 10px 10px 0px;
  background-color: #282c34;
  color: white;
  border:none;
}

.modal .tags{ 
  font-size: 1em;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid grey;
}

.modal .btn {
  background-color: #282c34;
  border: none;
  color: white;
  font-size: 1.3em;
  padding: 0.3em;
  border-radius: 10px;
}

.background { 
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}

.contents{ 
 display: flex;
  flex: 1;
  overflow: scroll;
  margin: 0.2em;
}
.contents.horizontal{ 
  flex-direction: column;
}
.contents.vertical{ 
  flex-direction: row;
}

.timezone_unit { 
  position: relative;
}

.timezone_unit.horizontal{ 
  display: flex;
}

.timezone_unit .title{ 
    flex:1;
    min-width: 60px;
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.time{
  flex:1;
  padding: 0.4em 0.2em;
  margin: 0.2em 0.05em;
  border-radius: 0.3em;
  background-color: #dddee0;
  font-weight: bold;
  color:rgb(53, 59, 63);
  min-width: 30px;
  max-width: 50px;
}

.now { 
  box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  background-color: turquoise;
  color: white;
}

.tag{
  position: absolute;
  left: 55px;
  top:0;
  background-color: white;
  padding: 0.4em 0.8em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-radius: 0.4em;
  font-size: small;
  white-space: nowrap;
  z-index: 1;
}


.highlight { 
  background-color: lightcoral;
}

.d-flex{ 
  display: flex;
}

.center{ 
  justify-content: center;
}